<h1>投稿ページ</h1>

<%= form_with(model: @apps, local: true) do |form| %>
  <% if @app.errors.any? %>
    <div id="error">
      <h2><%= @app.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @app.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

   <%= form.submit "投稿" %>
<% end %>

  <%= link_to "投稿一覧画面へ戻る", apps_path %>
